<ion-content [fullscreen]="true">
  <div id="container">
    <div class="content">
      <div class="card-item" *ngFor="let value of data">
        <ion-card>
          <ion-header>
            <ion-card-title>
              <ion-title> {{ value.name }} </ion-title>
            </ion-card-title>
          </ion-header>

          <ion-card-content> {{ value.address }} </ion-card-content>

          <ion-button
            expand="block"
            fill="outline"
            [routerLink]="['/details', value.id]"
            >See more</ion-button
          >
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
